<h1>Player Summary Response Page</h1>
<div>
  <mat-form-field appearance="outline">
    <mat-select [(ngModel)]="playerID" [ngModelOptions]="{standalone: true}" (selectionChange)="changeParams()"
    [disableOptionCentering]="true">
      <mat-option *ngFor="let _ of [].constructor(31); let i = index" [value]="i + 1">{{ i + 1}}</mat-option>
    </mat-select>
    <mat-label>Select Player ID</mat-label>
  </mat-form-field>
</div>

<div>API response for {{ endpoint }}</div>
<pre>{{ apiResponse }}</pre>